services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: rag-backend
    ports:
      - "8000:8000"
    volumes:
      - ./:/code                    
      - mlruns:/code/mlruns         
      - artifacts:/code/artifacts   
    environment:
      - MLFLOW_TRACKING_URI=http://mlflow:5000
      - PYTHONPATH=/code           
      - PYTHONUNBUFFERED=1
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/it_assistant
      - OPENAI_API_KEY=${OPENAI_API_KEY}
    depends_on:
      db:
        condition: service_healthy  
      mlflow:
        condition: service_started
    networks:
      - mlflow-network
    restart: on-failure             

  db:
    image: postgres:15
    container_name: postgres-rag_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: it_assistant
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - mlflow-network
    healthcheck:                    
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  mlflow:
    image: ghcr.io/mlflow/mlflow:v2.11.1
    container_name: mlflow
    ports:
      - "5000:5000"
    volumes:
      - mlruns:/mlruns
      - artifacts:/artifacts
    command: >
      mlflow server
      --host 0.0.0.0
      --port 5000
      --backend-store-uri file:/mlruns
      --default-artifact-root /artifacts
    networks:
      - mlflow-network

volumes:
  mlruns:
  artifacts:
  postgres_data:

networks:
  mlflow-network:
    driver: bridge