langchain
langchain-text-splitters
torch
langchain-community
sentence-transformers
transformers
accelerate
chromadb
python-dotenv
fastapi
uvicorn
sqlalchemy
psycopg2-binary
passlib[bcrypt]
python-jose
email-validator
scikit-learn
mlflow
flake8
pytest
pydantic
langchain-openai
openai
