name: CI -FASTAPI RAG
on:
    push:
        branches:
            - develop
    pull_request:

jobs:
    build-test:
        runs-on: ubuntu-latest

        steps:
            - name: checkout code
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: "3.11"
            
            - name: install dependecies
              run: | 
                python -m pip install --upgrade pip
                pip install -r requirements.txt

            - name: Lint with flake8
              run: |
                pip install flake8
                flake8 app

            - name: run tests
              run: |
                pytest

            


            
